
@charset "utf-8";

html {
  font-size: 100%;
}

body {
    color: #333;
    font-size: 1.6rem;
}

.paginationWrap {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 40px;
  font-size: 1.4rem;
}

.paginationWrap ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.paginationWrap ul.pagination li {
display: inline;
margin-right: 4px;
}

.paginationWrap ul.pagination li a {
  color: #333;
  padding: 2px 10px;
  text-decoration: none;
}

.paginationWrap ul.pagination li a.active {
  background-color: #EEF15E;
  color: white;
  border-radius: 40px;
  width: 20px;
  height: 20px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
  background-color: #EEF15E;
  border-radius: 40px;
}

.shop-sorting {
  display: flex;
}

.shop-sorting label,
.shop-sorting .form-control,
.shop-sorting span {
  display: inline-block;
  vertical-align: middle;
}

.shop-sorting span {
  padding: 8px 0;
}

.shop-sorting label {

  color: #9da9b9;
  font-size: 14px;
  font-weight: normal;
}

.shop-sorting .form-control {
  width: 100%;
  max-width: 186px;
  margin-right: 10px;
}

.rating {
  display: inline-flex;
  flex-direction: row-reverse;
}

.hidden--visually {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.rating__label {
  cursor: pointer;
  color: gray;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.rating__icon::before {
  content: "★";
  font-size: 35px;
}

.rating__input:hover ~ .rating__label {
  color: lightgray;
}

.rating__input:checked ~ .rating__label {
  color: goldenrod;

}

.button-hover {
    background: #FECC16;
    display: inline-block;
    width: 50%;
    margin: 15px;
    margin-bottom: 20px;
    padding: 35px;
    text-shadow: none;
    color: #000;
    font-size: 20px;
    text-align: center;
    text-decoration-line: none;
    cursor: pointer;
}

.button-hover:hover {
    opacity: 0.7;
}


.delete-account {
    background-color: #CC0000;
    display: inline-block;
    width: 50%;
    margin: 15px;
    margin-bottom: 20px;
    padding: 35px;
    text-shadow: none;
    color: #000;
    font-size: 20px;
    text-align: center;
    text-decoration-line: none;
}

.delete-account:hover {
    opacity: 0.7;
}

.continue {
    background-color: #DDDDDD;
    display: inline-block;
    width: 50%;
    margin: 15px;
    margin-bottom: 20px;
    padding: 35px;
    text-shadow: none;
    color: #000;
    font-size: 20px;
    text-align: center;
    text-decoration-line: none;
}

.continue:hover {
    opacity: 0.7;
}

.item-display {
  object-fit: cover;
  width: 400px;
  height: 250px;
}

.item-primary-display {
  object-fit: cover;
  width: 700px;
  height: 500px;
}

.item-four-display {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.store-display {
  object-fit: cover;
  width: 100%;
  height: 250px;
}